.search {
    padding: 0.5rem;
    margin: 1rem;
}

.search-center {
    display: grid;
    grid-template-columns: 3fr 1fr;
}


.search-control {
    background-color: white;
    display: flex;
    flex: 1;
    align-items: center;
    padding: 1rem;
    height: 2rem;
    border-radius: 999px;
    margin-right: 1rem;
}

.search-control > input {
    border: none;
    padding: 0.5rem;
    outline-width: 0;
    border-radius: 9999px;
    width: 30rem;
}

.search-control >button {
    margin: 1rem;
    max-width: fit-content;
    padding: 1rem;
    border-radius: 999px;
    border: none;
}

.search-center-1 h3 {
    background-color: var(--color-2);
    color: var(--color-5);
    margin-top: 0.1rem;
    border-radius: 9999px;
    padding: 0.8rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

